<style>
*
	{
	background: black;
	color: wheat;
	font-family: monospace;
	border-radius: 3px;
	}

input
	{
	display: block;
	background: white;
	color: black;
	width: 40vh;
	margin-bottom: 2vh;
	padding: 3vh;
	font-size: 12;
	}

button
	{

	}
</style>

<title>HEXA FORM</title>

<form > 
	<label>CELL 0</label>
	<input type="number" placeholder="0" name="0" min="0" max="255">

	<label>CELL 1</label>
	<input type="number" placeholder="0" name="1" min="0" max="255">

	<label>CELL 2</label>
	<input type="number" placeholder="0" name="2" min="0" max="255">

	<label>CELL 3</label>
	<input type="number" placeholder="0" name="3" min="0" max="255">

	<label>CELL 4</label>
	<input type="number" placeholder="0" name="4" min="0" max="255">

	<label>CELL 5</label>
	<input type="number" placeholder="0" name="5" min="0" max="255">

	<button type="submit"> SUBMIT!</button>	 
</form>